#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    justify-content: center;
    display: flex;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a{

    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font:700 2.0rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a img {
    width: 4rem;
}

.buttons-container a.Adm {

    background: var(--color-primary-lighter);

}

.buttons-container a.Func {
    background: var(--color-secundary);
}

.buttons-container a.Adm:hover {

    background :#8B0000;

}

.buttons-container a.Func:hover {
    background:#CDCD00;
}

.bembrasil {

font-size:  1rem;

display: flex;
align-items: center;
justify-content: center;
margin-top: 240px;
}

