#page-func-list {

    width: 100vw;
    height: 100vh;

}

.page-header {

    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);

}

.page-header .top-bar-container {

    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.8rem 0;
}

.page-header .top-bar-container a {

    width: 15rem;
    height: 4rem;
    background: var(--color-secundary);
    color: white;
    border: 0;
    border-radius: 10rem;
    cursor: pointer;
    font: 700 1.7rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    line-height: 2.6rem;
    margin: 15px 15px;
}
.page-header .top-bar-container a:hover {
    background: red;
}

.page-header .header-content {

    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

.page-header .header-content strong {

    font:700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

#search-func {
    margin-top: 3.2rem;
}

#search-func label {

    color: var(--color-text-in-primary);

}

#search-func .btn-geral button{

    width: 16rem;
    height: 6rem;
    background: var(--color-secundary);
    color: white;
    border: 0;
    border-radius: 10rem;
    cursor: pointer;
    font: 700 1.7rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    margin: 15px 15px;
}

#search-func button:hover{

    background: red;

}


#page-func-list main {

    margin: 3.2rem auto;
    width: 90%;
}

.func-item {

    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
}

.func-item header {

    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;

}

.func-item header img {

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.func-item header div {

    margin-left: 2.4rem;
}

.func-item header div strong {

    font: 700 2rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.func-item header div span {

    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;

}

.func-item button {

    width: 18rem;
    height: 5rem;
    background: var(--color-secundary);
    color: white;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;

}

.func-item button:hover {

    background: #4169E1;

}

@media (min-width: 700px) {

    #page-func-list {

        max-width: 100%;
    }

#search-func {

    display: flex;
    grid-template-columns: repeat(3, 1f);
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
}

#search-func .input-block + .input-block {
    margin-top: 0;
}

#page-func-list main {

    padding: 32px 0;
    max-width: 740px;
    margin: 0 auto;
}



}
